.style {
    background: linear-gradient(10deg, rgba(10, 10, 10, 0.9), rgba(16, 16, 16, 0)), url('../../public/Images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 10px;
}
